* {
  padding: 0;
  margin: 0;
}

/** 重置列表元素 **/
ul {
  list-style: none;
}

/** 重置文本格式元素 **/
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}
/** 重置表格元素 **/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Flex布局 */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
